<h3><%= @user.email %></h3>
<% if current_user.following?(@user) %>
  <%= button_to "Stop Following #{@user.email}", [@user, :following_relationship], method: :delete %>
<% else %>
  <%= button_to "Follow #{@user.email}", [@user, :following_relationship] %>
<% end %>
<div> Shouts </div>
<ul>
<%= render @shouts %>
</ul>
